/* Thème Rouge */
.theme-red {
    --bg-white: red; /* Couleur de fond (light mode) */
    --text-dark: white; /* Couleur du texte (light mode) */
    --dark-bg-gray: darkred; /* Couleur de fond (dark mode) */
    --dark-text-white: lightgray; /* Couleur du texte (dark mode) */
}

/* Thème Gris */
.theme-gray {
    --bg-white: gray; /* Couleur de fond (light mode) */
    --text-dark: black; /* Couleur du texte (light mode) */
    --dark-bg-gray: darkgray; /* Couleur de fond (dark mode) */
    --dark-text-white: white; /* Couleur du texte (dark mode) */
}

/* Thème Bleu */
.theme-blue {
    --bg-white: blue; /* Couleur de fond (light mode) */
    --text-dark: white; /* Couleur du texte (light mode) */
    --dark-bg-gray: darkblue; /* Couleur de fond (dark mode) */
    --dark-text-white: lightblue; /* Couleur du texte (dark mode) */
}
